@mixin font-size ($sizeValue, $unit: 'rem') {
  @if $unit == 'rem' {
    font-size: ($sizeValue / strip-units($font-size-root))+rem;
  } @else {
    font-size: $sizeValue + em;
  }
}

@mixin tab-focus() {
  // WebKit-specific. Other browsers will keep their default outline style.
  // (Initially tried to also force default via `outline: initial`,
  // but that seems to erroneously remove the outline in Firefox altogether.)
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

@mixin visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; height: 1px;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}

@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}
