$wrapper-max-width: 1300px;
$gutter-default: 30px;

// Breakpoints
$bp-xs: 480px;
$bp-sm: 640px;
$bp-md: 768px;
$bp-lg: 960px;
$bp-xl: 1280px;

// COLOR
$brand-primary: 	#00B900 !default;
$gray: 				#444 !default;

//** Background color for `<body>`.
$body-bg:               #f4f4f4 !default;

//** Global text color on `<body>`.
$text-color:            $gray !default;

//** Global textual link color.
$link-color:            $brand-primary !default;
//** Link hover color set via `darken()` function.
$link-hover-color:      darken($link-color, 15%) !default;

//== Typography
//
//## Font, line-height, and color for body text, headings, and more.
$font-family-base: "Roboto", sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root: 14px !default;

$font-size-base: 1.14rem !default;

$line-height-base: 1.5 !default;

$dt-font-weight: bold !default;

$abbr-border-color: #eee !default;

// FORM
$cursor-disabled:                not-allowed !default;
