<template>
  <div>
    <div class="container">
      <div class="heading">
        <h1>Your receipt</h1>
      </div>
      <div
        class="order-item"
        v-for="(item, index) in details.items"
        :key="index"
      >
        <span class="order-title">{{ item.title }}</span>
        <span class="order-quantity">x{{ item.quantity }}</span>
        <span class="order-price">{{ item.orderPrice | currency }}</span>
      </div>
      <div class="summary">
        <div class="order-item">
          <span>Total:</span>
          <span>{{ details.total | currency }}</span>
        </div>
        <div class="order-item">
          <span>Discounts:</span>
          <span>{{ ('-' + details.discount) | currency }}</span>
        </div>
        <div class="order-item">
          <span>Net:</span>
          <span>{{ details.net | currency }}</span>
        </div>
      </div>
      <div class="summary summary--bold">
        <div class="order-item">
          <span>Received:</span>
          <span>{{ details.received | currency }}</span>
        </div>
        <div class="order-item">
          <span>Change:</span>
          <span>{{ details.change | currency }}</span>
        </div>
        <div class="thank-you" v-if="details.checkoutStatus == 'done'">
          <DoneIcon /> <span>Thank you</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { db } from '@/main'
import DoneIcon from '@/components/DoneIcon'

export default {
  name: 'Customer',
  components: {
    DoneIcon,
  },
  data() {
    return {
      details: {},
    }
  },
  firestore() {
    return {
      details: db.collection('pos').doc('customer-screen'),
    }
  },
}
</script>

<style scoped lang="scss">
.heading {
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  margin-bottom: 15px;

  h1 {
    @include font-size(24);
    font-weight: 700;
    margin-bottom: 15px;
  }
}

.thank-you {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;

  span {
    margin-top: 5px;
  }
}

.container {
  background-color: #fff;
  width: 700px;
  padding: 20px 40px 40px;
  border: 1px dashed #ddd;
}

.summary {
  @include font-size(18);
  margin-top: 40px;

  &--bold {
    @include font-size(22);
    font-weight: 700;
  }
}

.order {
  &-item {
    border-bottom: 1px dashed #ddd;
    padding: 7px 0;
    display: flex;
    justify-content: space-between;
  }

  &-title {
    flex: 1 0 450px;
    max-width: 450px;
  }

  &-quantity {
    flex: 1 0 70px;
    max-width: 70px;
    text-align: center;
  }
  &-price {
    flex: 1 0 100px;
    max-width: 100px;
    text-align: right;
  }
}

.quantity {
  display: inline-block;
  margin-right: 15px;
}
</style>
