<template>
  <div class="home">
    <div class="row">
      <div class="main">
        <div class="product-list">
          <BookList />
        </div>
      </div>
      <div class="sidebar">
        <div class="sidebarWrap">
          <Cart />
        </div>
      </div>
    </div>
    <CheckoutPanel
      v-if="checkoutStatus === 'receive' || checkoutStatus === 'done'"
    />
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

import BookList from '@/components/BookList.vue'
import Cart from '@/components/Cart.vue'
import CheckoutPanel from '@/components/CheckoutPanel'

export default {
  name: 'home',
  components: {
    BookList,
    Cart,
    CheckoutPanel,
  },
  computed: {
    ...mapGetters('cart', ['checkoutStatus']),
  },
}
</script>

<style scoped lang="scss">
.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 1 0 percentage(8/12);
  max-width: percentage(8/12);
  padding-right: 8px;
}

.product-list {
  height: calc(100vh - 100px);
  overflow: auto;
}

.sidebar {
  flex: 1 0 percentage(4/12);
  max-width: percentage(4/12);
}

.sidebarWrap {
  background-color: #fff;
  height: 100%;
}
</style>
