<template>
  <div id="app">
    <div class="main-header">
      <h1 class="logo">Little Brown Book Shop</h1>
    </div>
    <div class="container">
      <router-view />
    </div>
  </div>
</template>

<style lang="scss">
@import '@/styles/_autoload.scss';
.main-header {
  height: 60px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 0 25px 10px #ececec;
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  @include font-size(20);
  text-transform: uppercase;
  font-weight: 700;
  color: $brand-primary;
}
</style>
