<template>
  <div class="bookList">
    <div
      class="bookItem"
      @click="addProductToCart(book)"
      v-for="(book, index) in books"
      :key="index"
    >
      <div class="frame">
        <img :src="book.cover" />
      </div>
      <div class="detail">
        <h3 class="title">{{ book.title }}</h3>
        <span class="price">{{ book.price | currency }}</span>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'

export default {
  name: 'BookList',
  computed: mapState({
    books: state => state.products.books,
  }),
  methods: {
    ...mapActions('cart', ['addProductToCart']),
  },
  created() {
    this.$store.dispatch('products/getAllBooks')
  },
}
</script>

<style scoped lang="scss">
.bookList {
  display: flex;
  flex-wrap: wrap;
}

.bookItem {
  flex: 1 0 percentage(3/12);
  max-width: percentage(3/12);
  padding: 0 15px 30px;
  cursor: pointer;
}

.frame {
  text-align: center;
  margin-bottom: 10px;

  &:hover {
    img {
      box-shadow: none;
    }
  }

  img {
    max-width: 100%;
    box-shadow: 0 0 22px 5px #ddd;
    border-radius: 12px;
    transition: box-shadow 0.2s ease;
  }
}

.detail {
  text-align: center;
}

.title {
  font-weight: 700;
  line-height: 1.3;
}

.price {
  color: $brand-primary;
  font-weight: 700;
}
</style>
