<template>
  <div class="cart-wrapper">
    <h2 class="cart-title">Orders</h2>
    <div class="cart-items">
      <div class="cart-item" v-for="(product, index) in products" :key="index">
        <div class="product-name">{{ product.title }}</div>
        <div class="product-quantity">x {{ product.quantity }}</div>
        <div class="product-remove">
          <button @click="decrementProductInCart(product)" class="remove-btn">
            -
          </button>
        </div>
      </div>
    </div>
    <div class="checkout-group">
      <div class="checkout-group__wrap">
        <div class="checkout-group__item">
          <span>Total:</span> {{ totalPrice | currency }}
        </div>
        <div class="checkout-group__item">
          <span>Discounts:</span>
          <span :class="{ discount: discount != 0 }">{{
            ('-' + discount) | currency
          }}</span>
        </div>
        <div class="checkout-group__item">
          <span>Net:</span> {{ netPrice | currency }}
        </div>
        <button
          :disabled="netPrice <= 0"
          :class="buttonClass"
          @click="setCheckoutStatus('receive')"
        >
          Charge
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

export default {
  name: 'Cart',
  computed: {
    ...mapGetters('cart', {
      products: 'cartProducts',
      discount: 'cartTotalDiscount',
      totalPrice: 'cartTotalPrice',
      netPrice: 'cartNetPrice',
    }),
    buttonClass() {
      if (this.netPrice > 0) {
        return 'button button--full button--active'
      }

      return 'button button--full'
    },
  },
  methods: {
    ...mapMutations('cart', ['setCheckoutStatus']),
    ...mapActions('cart', ['decrementProductInCart', 'updateCheckoutDB']),
  },
  watch: {
    products: {
      handler: function() {
        this.updateCheckoutDB()
      },
      deep: true,
    },
  },
}
</script>

<style scoped lang="scss">
.cart-wrapper {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 100px);
  padding: 15px 5px 15px 15px;
}

.cart-title {
  padding-right: 10px;
}

.cart-items {
  flex-grow: 1;
  overflow: auto;
  padding-right: 10px;
  padding-bottom: 50px;
}

.cart-title {
  @include font-size(20);
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.cart-item {
  border-bottom: 1px solid #eee;
  padding: 8px 0;
  display: flex;
  justify-content: space-between;
}

.product-name {
  flex-grow: 1;
  line-height: 1.2;
}

.product-quantity {
  flex: 1 0 70px;
  max-width: 70px;
  padding-right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #444;
  font-weight: 700;
}

.product-remove {
  flex: 1 0 35px;
  max-width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove-btn {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  color: #444;
  cursor: pointer;
  outline: none;
}

.checkout-group {
  background-color: #fff;
  flex: 1 0 200px;
  max-height: 200px;
  padding-right: 10px;

  &__wrap {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: -60px;
      width: 100%;
      height: 60px;
      background: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.22) 22%,
        rgba(255, 255, 255, 1) 100%
      );
    }
  }

  &__item {
    @include font-size(20);
    border-bottom: 1px dashed #ccc;
    padding: 5px 0;
    font-weight: 700;
    display: flex;
    justify-content: space-between;

    &:first-child {
      border-top: 1px dashed #ccc;
    }
  }

  button {
    margin-top: 15px;
  }
}

.discount {
  color: #e0130e;
}
</style>
