<template>
  <div class="checkoutPanel">
    <div class="checkout-top" v-if="checkoutStatus === 'receive'">
      <div class="netPrice">
        <span class="change-title">Net</span>
        <span>{{ cartNetPrice | currency }}</span>
      </div>
      <button class="back-button" @click="setCheckoutStatus('')">Back</button>
    </div>
    <div class="container" v-if="checkoutStatus === 'receive'">
      <div class="panel" v-if="checkoutStatus === 'receive'">
        <div class="main">
          <div class="item">
            <h3 class="title">Received Amount:</h3>
            <p class="received-amount">{{ receivedAmount | currency }}</p>
            <div class="add-received">
              <button class="add-button" @click="setReceived('100')">
                +100
              </button>
              <button class="add-button" @click="setReceived('500')">
                +500
              </button>
              <button class="add-button" @click="setReceived('1000')">
                +1000
              </button>
            </div>
          </div>
          <div class="item">
            <h3 class="title">Change:</h3>
            <p class="change-amount">{{ changeAmount | currency }}</p>
          </div>
          <div class="btn-group">
            <button
              :disabled="cartNetPrice > receivedAmount"
              :class="buttonClass"
              @click="setCheckoutStatus('done')"
            >
              Done
            </button>
          </div>
        </div>
        <div class="sidebar">
          <Numpad />
        </div>
      </div>
    </div>
    <div class="container container--centered" v-if="checkoutStatus === 'done'">
      <div class="panel">
        <DoneCheckout />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations, mapActions } from 'vuex'

import Numpad from './Numpad'
import DoneCheckout from './DoneCheckout'

export default {
  name: 'CheckoutPanel',
  components: {
    Numpad,
    DoneCheckout,
  },
  computed: {
    ...mapGetters('cart', [
      'cartNetPrice',
      'receivedAmount',
      'changeAmount',
      'checkoutStatus',
    ]),
    buttonClass() {
      if (this.cartNetPrice > this.receivedAmount) {
        return 'button button--full'
      }

      return 'button button--full button--active'
    },
  },
  methods: {
    ...mapActions('cart', ['updateCheckoutDB']),
    ...mapMutations('cart', ['setReceived', 'setCheckoutStatus']),
  },
  watch: {
    receivedAmount() {
      this.updateCheckoutDB()
    },
    checkoutStatus() {
      this.updateCheckoutDB()
    },
  },
}
</script>

<style scoped lang="scss">
.title {
  text-transform: uppercase;
  color: #222;
  font-weight: 700;
  margin-bottom: 5px;
  text-align: center;
}

.netPrice {
  @include font-size(32);
  font-weight: 700;
  text-align: center;
  padding: 30px 0 0;
}

.item {
  margin-bottom: 15px;
}

.received-amount {
  @include font-size(40);
  font-weight: 700;
  margin-bottom: 15px;
  text-align: center;
}

.change-amount {
  @extend .received-amount;
  color: $brand-primary;
}

.checkoutPanel {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.checkout-top {
  width: 900px;
  margin: 0 auto;
  position: relative;
}

.container {
  width: 900px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 40px 0;

  &--centered {
    justify-content: center;
    align-items: center;
  }
}

.panel {
  width: 1200px;
  padding: 40px;
  background-color: #fff;
  display: flex;
}

.add-received {
  display: flex;
  justify-content: center;
}

.add-button {
  background-color: #fff;
  border: 1px solid #ddd;
  margin-right: 10px;
  padding: 7px 15px 5px;
  cursor: pointer;
  outline: none;

  &:hover {
    background-color: #f2f2f2;
  }
}

.back-button {
  @extend .add-button;

  position: absolute;
  top: 40px;
  left: 0;
}

.main {
  flex: 1 0 60%;
  max-width: 60%;
  padding-right: 40px;
}

.sidebar {
  flex: 1 0 40%;
  max-width: 40%;
}

.change-title {
  @include font-size(16);
  display: block;
  text-transform: uppercase;
  color: #888;
}
</style>
