<template>
  <div class="done-panel">
    <div class="wording">
      <DoneIcon />
      <div class="title">Success</div>
    </div>
    <button class="button button--active" @click="newOrder">
      New Order
    </button>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import DoneIcon from './DoneIcon'

export default {
  name: 'DoneCheckout',
  components: {
    DoneIcon,
  },
  methods: {
    ...mapActions('cart', ['checkout', 'updateCheckoutDB']),
    newOrder() {
      this.checkout()
      this.updateCheckoutDB()
    },
  },
}
</script>

<style scoped lang="scss">
.done-panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  width: 100%;
  padding: 40px 0;
}

.wording {
  display: flex;
}

.title {
  @include font-size(42);
  color: $brand-primary;
  display: block;
  margin-left: 15px;
}

.button {
  margin-top: 20px;
}
</style>
