<template>
  <div class="row">
    <div
      class="numBtnWrap"
      v-for="(n, i) in nums"
      :key="i"
      @click="changeReceived(n)"
    >
      <button>{{ n }}</button>
    </div>
    <div class="numBtnWrap numBtnWrap--clear" @click="clearReceived">
      <button>Clear</button>
    </div>
  </div>
</template>

<script>
import { mapMutations } from 'vuex'

export default {
  name: 'Numpad',
  data: function() {
    return {
      nums: [...Array(10).keys()].reverse(),
    }
  },
  methods: {
    ...mapMutations('cart', ['changeReceived', 'clearReceived']),
  },
}
</script>

<style scoped lang="scss">
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: flex-end;
  position: relative;
}

.numBtnWrap {
  flex: 1 0 percentage(4/12);
  max-width: percentage(4/12);

  button {
    @include font-size(20);
    width: 100%;
    background-color: #fff;
    border: none;
    padding: 17px 0;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: #f8f8f8;
    }
  }

  &--clear {
    position: absolute;
    right: 0;
    bottom: 0;
    width: percentage(4/12);
  }
}

.groupBottom {
  width: 100%;

  .row {
    display: flex;
    justify-content: space-between;
  }
}
</style>
