.button {
  font-family: $font-family-base;
  color: #fff;
  border: none;
  background-color: $gray;
  font-weight: 700;
  padding: 15px 40px 12px;
  outline: none;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: lighten($gray, 10%);
  }

  &:disabled {
    cursor: default;
    background-color: lighten($gray, 10%);
  }

  &--full {
    width: 100%;
  }

  &--active {
    background-color: $brand-primary;
    &:hover {
      background-color: darken($brand-primary, 5%);
    }
  }
}
