// reset type
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-size: $font-size-base;
	font-family: $font-family-base;
  font-weight: 400;
}

p, ol, ul {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}
